.env
.DS_Store
.idea/
./swift_files/
__pycache__/
*.pyc
data/
dataTemp/
temp/
deepseek-coder-finetuned-16k/
deepseek-coder-merged-16k/
runPad/
scripts/convert_to_model_coreml.py
scripts/evaluate_model.py
nCr_organized/
llm_training_inputs/
llm_training_raw_outputs/
llm_training_data_validated/
llm_training_data_split/
swift_obfuscation_dataset.jsonl
scripts/backup_no_split/evaluate_model.py
scripts/backup_no_split/convert_to_model_coreml.py

















